.connect {
  &__inner {
    
  }
  &__cover {
    padding-top: 3rem;
    background-image: url('./../../assets/img/connect-block-img.webp');
    &::after {
        content: "";
        display: block;
        background-image: none;
    }
  }
  @media screen and (max-width: 992px) {
    & {
        padding-top: 3rem;
    }
    &__cover {
        background-image: url('./../../assets/img/connect-block-img-moblie.jpg');

    }
}

}