.defense {
    &__inner {
        justify-content: space-between;
    }
    &__add-content {
        padding-left: 5%;
    }
    @media screen and (max-width: 992px) {
        & {
            padding-top: 3rem;
        }
        &__add-content {
            padding: 0;
            width: calc(100% + 30px);
            margin-left: -15px;
        }
    }
}