.defense {

    &__inner {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
    }

    &__content {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            & {
                flex-basis: 100%;
                align-items: center;
            }
        }
    }
    &__decor .decor-column__line{
        height: 95%;
    }
   
}


.content {
    padding: 30px 0;
}
.title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;
    @media screen and (max-width: 575px) {
        & {
           font-size: 2rem;
        }
    }
}

.card-info {
    margin: 30px 0;
    flex-basis: 40%;
    background-color: #1e69ff;
    padding: 2.5rem 2rem;
    &__header {
        padding-bottom: 1rem;
    }
    &__title {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
    &__content {
        text-align: center;
    }
    &__text {
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem 0;
        &:not(:last-child) {
            border-bottom: 2px solid #e0dede;
        }
    }
    &__footer {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo:not(:last-child) {
        padding-bottom: 2rem;
    }
    &__logo:visited {
        color: #fff;
    }
    @media screen and (max-width: 768px) {
        & {
            margin-top: 3rem;
            width: calc(100% + 30px);
            margin-left: -15px;
        }
    }
}
