.faq {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        display: flex;
        flex-basis: 60%;
    }
    &__decor .decor-column__line {
        height: 100%;
        
    }
    &__decor {
        max-width: 132px;
    }
    @media screen and (max-width: 768px) {
        &__inner {
            flex-direction: column;
        }
    }
}