.header {
    position: fixed; // fixed
    z-index: 1000;
    width: 100%;
    min-height: 50px;
    background-color: rgba(0,0,0,.7); 
    -webkit-backdrop-filter: saturate(120%) blur(20px);
    backdrop-filter: saturate(120%) blur(20px);
    &__container {
        height: 100%;
    }
    &__nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        padding: 10px 0;
        flex-basis: 10%;
        flex-shrink: 0;
        min-width: 100px;
    }
    &__social {
        padding: 10px 0;
        flex-shrink: 1;
    }
}
.logo {
    cursor: pointer;
}
.social {
    display: flex;
    flex-basis: 15%;
    min-width: 150px;
    &__item {
        display: block;
        width: 13%;
        height: 13%;
        transition: opacity .2s ease-in-out;
        &:not(:last-child) {
            margin-right: 8%;
        }
        &:hover {
            opacity: .7;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}