.intro {
    &__inner {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        @media screen and (max-width: 992px) {
            & {
                min-height: 50vh;
                flex-direction: column-reverse;
            }
        }
    }
    &__btn-row {
        display: flex;
        gap: 15px;
        @media screen and (max-width: 376px) {
            & {
                flex-direction: column;
            }
        }
    }
    &__content-logo {
        margin-bottom: 2rem;
    }
    &__content-text {
        padding-left: 2%;
        flex-basis: 90%;
    }
    &__content {
        flex-basis: 50%;
        display: flex;
        padding-top: 150px;
        @media screen and (max-width: 992px) {
            padding-top: 0;
            padding-bottom: 2rem;
            width: 100%;
            display: block;
        }
    }
    &__cover {
        flex-basis: 50%;
        height: 500px;
        background-image: url("./../../assets/img/intro.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        @media screen and (max-width: 992px) {
            & {
                background-image: url("./../../assets/img/intro-mobile.webp");
                background-position: center;
                flex-basis: 50%;
                //height: 200px;
                min-height: 300px;
                max-height: 400px;
                padding-top: 400px;
                position: relative;
                overflow: hidden;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: -40%;
                width: 100%;
                
                z-index: 1;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000 50%);
            }
        }
    }
    &__decor {
        height: 100%;
        flex-basis: 10%;
        // margin-top: 30%;
    }
}
